.item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.item-content {
    display: flex;
    align-items: center;
}

.item h3 {
    margin: 0;
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-button-container {
    display: flex;
}

.toggle-button {
    margin-right: 10px;
}

.toggle-label {
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-label:hover {
    background-color: #f0f0f0;
}

.toggle-button input[type="radio"] {
    display: none;
}

.toggle-button input[type="radio"]:checked + .toggle-label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
